.container{
    min-width: 50%;;
}
.card{
    display: flex;
    height: 326px;
    min-width: 50%;
    border-radius: 1rem;
    overflow: hidden;
}

.infoCard p{
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.infoCard div{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.stats p{
    margin: 0;
    margin-right: 1rem;
}

.stats progress{
    width: 55%;
}

.statsDescription{
    width: 30%;
}

.card img{
    background: aliceblue;
    width: 40%;
    object-fit: contain;
    padding: 1rem;
}

.card h1{
    margin-bottom: 0rem;
    text-align: left;
}

.card h5{
    text-align: left;
    margin: 0rem;
    margin-top: .5rem;
}

.types{
    margin-top: 0rem;
    text-align: left;
}

.type{
    margin: 0rem;
    margin-right: 1rem;
}

.infoCard{
    width: 100%;
    background: blueviolet;
    padding-left: 1rem;
    color: white;
}

.buttons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.buttons a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 1rem;
    width: 20%;
    border-radius: 1rem;
    cursor: pointer;
}

.buttons a:hover{
    background-color: #1C1B1A;
    color: white;
}